APP_NAME="ระบบติดตามและบริหารโครงการเทศบาล"
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost/Municipal_Project_Tracker/public

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=municipal_project_tracker
DB_USERNAME=root
DB_PASSWORD=

BROADCAST_DRIVER=log
CACHE_DRIVER=file
FILESYSTEM_DISK=public
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120
